<footer class="grid gap-1 grid-cols-3 bg-zinc-800 text-white">
    <div class="p-6">
        <p class="uppercase font-light text-5xl py-3 playfair">Logo</p>
        <p class="py-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa tempore recusandae illums inventore officia architecto nostrum?</p>
        <nav class="">
            <a href="#">SM</a>
            <a href="#">SM</a>
            <a href="#">SM</a>
            <a href="#">SM</a>
            <a href="#">SM</a>
        </nav>
    </div>
    <div class="">

    </div>
    <div class="">
        <h6 class="uppercase text-sm">Footer Menu</h6>
        <nav class="font-light text-xs uppercase">
            <a class="block" href="#">Link</a>
            <a class="block" href="#">Link</a>
            <a class="block" href="#">Link</a>
            <a class="block" href="#">Link</a>
            <a class="block" href="#">Link</a>
            <a class="block" href="#">Link</a>
            <a class="block" href="#">Link</a>
        </nav>
    </div>

</footer>
