<section class="text-center">
	<h4 class=""> Related Posts </h4>
	<div class="grid gap-2 grid-cols-1 md:grid-cols-3 p-6">
		{% assign pageCategory = page.categories[0] %}
		{% assign relevant = site.categories[pageCategory] | where_exp:"post","post.url != page.url" %}
    
        <!-- Add where_exp"? -->
  		{% for post in relevant limit:3 %}
            <a href="{{post.url}}">
                <div class=""> 
                    <img src="{{post.image_path}}" class="object-cover w-full h-[50vh]"/>
                </div>
                <span class="author uppercase">by {{post.author}}</span> //
                <span class="author"> {{post.date | date: "%m.%d.%Y" }} </span>
                <h3 class="uppercase"> {{post.title}} </h3>
            </a>
  		{% endfor %}
	</div>
</section>