<nav class="bg-zinc-200 py-2.5 sticky bottom-0 w-11 text-center flex flex-col space-y-4 py-2">
<!-- flex flex-col makes the links stack verticle -->
    <!-- Can delete &via -->
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="http://pinterest.com/pin/create/link/?url={{page.url}}&description={{page.title}}" rel="nofollow" target="_blank" title="Share on Pinterest">
        <i class="fab fa-pinterest-p"></i>
    </a>
</nav>